<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <button><a href="/productos">Agregar Producto</a></button>
    <div>
        {% for producto in productos_list %}

        <div>
            <h2>{{ producto.nombre }}</h2>
            <div>
                <a href="/productos/actualizar/{{ producto.id }}">Editar</a>
                <a href="{{ url_for('productos.eliminar_producto', id=producto.id) }}">Eliminar</a>
            </div>
            <p>Descripcion: {{ producto.descripcion }}</p>
            <p>Precio: {{ producto.precio }}</p>
            <p>Inventario: {{ producto.inventario_rel.cantidad }}</p>
        </div>

       {% endfor %}
    </div>
    
</body>
</html>